name: Manually set .nuspec version

on:
  workflow_dispatch:
    inputs:
      version:
        description: "New .nuspec version"
        required: true 
        type: string

jobs:
  manually-set-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Set .nuspec version
        id: set-version
        uses: vers-one/dotnet-project-version-updater@v1.3
        with:
          files: "Metadata/*.nuspec"
          version: ${{ github.event.inputs.version }}
      - name: 'Commit new .nuspec version'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Set .nuspec version to ${{ steps.set-version.outputs.newVersion }}
          branch: auto/${{ steps.set-version.outputs.newVersion }}
          create_branch: true
      - name: 'Create PR'
        uses: peter-evans/create-pull-request@v5
        token: ${{ secrets.GITHUB_TOKEN }}
        branch: auto/${{ steps.set-version.outputs.newVersion }}
        draft: false


